html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

.global-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.sidebar {
    background-color: grey;
    height: 100vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}

.sidebar ul li {
    cursor: pointer;
    color: white;
    font-size: 2.4rem;
}

.btn-create-group {
    cursor: pointer;
    background-color: rgb(185, 178, 178);
    font-size: 2.4rem;
    margin: 0 auto;
    padding: 0 20px;
}

.main {
    height: 100vh;
    padding: 40px;
}

.content {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    gap: 30px;
}

.title {
    font-size: 3.6rem;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.todo-item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 7fr 1fr 1fr;
    padding: 5px;
    background-color: rgb(175, 175, 175);
}

.todo-item span {
    font-size: 1.8rem;
}

.inp-new-item {
    background: grey;
}

.inp-new-item input {
    width: 100%;
    height: 100%;
    font-size: 2.4rem;
    cursor: text;
}